ion-select {
    border: 1px solid #018a5e;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(1, 138, 94, 0.78);
    -moz-box-shadow: 1px 1px 1px 0px rgba(1, 138, 94, 0.78);
    box-shadow: 1px 1px 1px 0px rgba(1, 138, 94, 0.78);
}