<ion-content class="contenido" padding>

    <div class="header_logo" id="logo" padding text-center>
        <img src="./assets/img/logoTrans_letra_Blanca.png">
    </div>
    

    <div class="fondo_green">
        <ion-card>
            <ion-card-content>
                <div text-center>
                        <ion-input maxlength="15" [(ngModel)]="user" class="datos_input" type="email" name="email" placeholder="Usuario"></ion-input>
                        <ion-button [disabled]=" user.length < 3" class="boton_style" (click)="goVerify()">Capturar huella
                                <ion-icon slot="end" name="log-in"></ion-icon>
                            </ion-button>
                    <!-- <form>

                        <ion-input maxlength="15" [(ngModel)]="user" class="datos_input" type="email" name="email" placeholder="Usuario"></ion-input>
                        <ion-input maxlength="15" [(ngModel)]="password" class="datos_input" type="password" name="password" placeholder="Contraseña"></ion-input>

                        <ion-button [disabled]=" user.length < 3 || password.length < 3" class="boton_style" (click)="verifyUser()">Iniciar sesión
                            <ion-icon slot="end" name="log-in"></ion-icon>
                        </ion-button>
                    </form> -->
                </div>
            </ion-card-content>
        </ion-card>
    </div>
    <div class="bottom">
        <p class="color_font" text-right>
            {{estampaTiempo}}
        </p>
        <p class="color_font_2" text-right>
            Versión: 1.0.8
        </p>
    </div>
</ion-content>