<ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
              </ion-buttons>
            <div slot="end">
                <img src="../../../assets/img/mini-logoTrans_letra_Blanca.png" class="style_logo_header">
            </div>
        </ion-toolbar>
    </ion-header>

<ion-content>
        <div *ngIf="documentPDF">
        </div>
    <div *ngIf="!documentPDF">
    <ion-label text-center><h1>¿Autorizas consulta a buró de crédito?</h1></ion-label>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-button color="primary" expand="block" (click)="onChangerFirma('autografa')">
                Firma autografa
            </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button color="primary" expand="block" (click)="onChangerFirma('digital')">
                Firma Digital
            </ion-button>
                </ion-col>
        </ion-row> 
    </ion-grid>
    <ion-grid *ngIf="digital">
            <ion-col size="12">
                    <ion-button color="primary" expand="block" (click)="verificarUser()">
                    Inciar captura digital
                </ion-button>
            </ion-col>
    </ion-grid>
    <ion-grid *ngIf="autografa">
        <ion-row>
            <ion-col class="style_pad">
                <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()" minlength="480px"></signature-pad>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button color="primary" expand="block" (click)="repetir()">
                    <ion-ripple-effect></ion-ripple-effect>
                    REPETIR
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <!--  [disabled]="!isenabled || !isenabled2"  -->
        <ion-button *ngIf="!esConsultar" color="primary" class="" expand="block" (click)="enviar()">
            <ion-ripple-effect></ion-ripple-effect>
            CONTINUAR
        </ion-button>
        <ion-button *ngIf="esConsultar" color="primary" expand="block" (click)="finalizar()">
            <ion-ripple-effect></ion-ripple-effect>
            FINALIZAR
        </ion-button>
    </ion-toolbar>
</ion-footer>