.style_pad {
    border: dotted;
    border-color: #018A5E;
    widows: 100%;
    canvas {
        border: 1px solid black !important;
    }
}

.style_pad canvas {
    border: 1px solid black !important;
}

.canvas{
    border: 1px solid black !important;
}


.btn-cancelar {
    background-color: #ffd200 !important;
    border-color: #ffd200 !important
}

.check-si {
    padding-right: 0px
}

.check-no {
    padding-left: 3px
}